/* stylelint-disable linebreaks */
.ranking-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ranking-page h1 {
  padding: 10px;
  text-align: center;
}

.player {
  border: 1px dotted white;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin: auto;
  padding: 10px;
  width: 300px;
}

.player-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 5px;
  text-align: left;
}

.player:nth-child( 2 ) {
  border: 5px solid goldenrod;
}

.player:nth-child( 3 ) {
  border: 3px solid silver;
}

.player:nth-child( 4 ) {
  border: 1px solid #cd7f32;
}

.playAgainRank {
  background-color: var(--lightBlue);
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  outline: 0;
  text-align: center;
  width: 100px;
}
